%h2= link_to("Home Page", root_path)

%h1.title Listing posts

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Author
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.body
        %td= post.author
        %td= link_to 'Show', post_path(post)

%br

= link_to 'New Post', new_post_path
